Source: linuxmuster-horde
Section: web
Priority: optional
Maintainer: Frank Schütte <fschuett@gymhim.de>
Build-Depends: debhelper (>= 4),
Standards-Version: 3.6.0

Package: linuxmuster-horde
Architecture: all
Provides: linuxmuster-horde
Depends: ${misc:Depends}, apache2 (>= 2.4.0), linuxmuster-base (>=6.2.99-1)
Description: Horde Webmail Frontend (special linuxmuster.net configuration)
 Horde is a powerful webmail frontend with many special apps for various purposes.
